<div class="bg-gray-100 min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-white shadow-md rounded-lg py-10 px-8">
    <div class="mb-6 text-center">
      <h2 class="text-2xl font-bold text-gray-900 mb-4"><%= t "devise.mailer.unlock_instructions.subject" %></h2>
      <p class="text-gray-700"><%= t("devise.mailer.unlock_instructions.greeting", email: @resource.email) %></p>
    </div>

    <div class="mb-4">
      <p class="text-gray-700"><%= t "devise.mailer.unlock_instructions.locked" %></p>
    </div>

    <div class="mb-6 text-center">
      <p class="text-gray-700"><%= t "devise.mailer.unlock_instructions.action_prompt" %></p>
      <%= link_to t("devise.mailer.unlock_instructions.action"), unlock_url(@resource, unlock_token: @token), class: "mailer-link" %>
    </div>

    <div class="text-center">
      <p class="text-gray-700"><%= t "devise.mailer.unlock_instructions.signature" %></p>
    </div>
  </div>
</div>
